* {
  box-sizing: border-box;
}

/***************
******BODY******
****************/
html{
    height: 100%;
}

.wrapper{
    height: 100%;
    min-height: calc(100vh - 8vh);
}

/************************
******SECTION HEADERS****
*************************/
.section-header {
    margin-bottom: 3em;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    border-bottom: 1.5px solid rgba(45, 45, 45, 0.6);
    border-top: 1.5px solid rgba(45, 45, 45, 0.6);
    margin-top: 0;
}

.section-header h1 {
  font-family: 'Poiret One', cursive;
  font-size: 2.5em;
  letter-spacing: .08em;
  padding: 0 !important;
  margin: 0 !important;
}

.section-header h2 {
  /*font-family: 'Poiret One', cursive;*/
  font-size: 1.3em;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  letter-spacing: .04em;
  line-height: 1.2em;
  width: 75%;
  margin: .65em auto 0em auto !important;
  padding: 0 2%;
}

@media (max-width: 1025px) {
  .section-header {
    margin-bottom: 1.2em;
  }
  .section-header h2 {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .section-header {
    margin-bottom: 1.2em;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
  }
  .section-header h1 {
    font-family: 'Poiret One', cursive;
    font-size: 2em !important;
    letter-spacing: .08em;
    padding: 0 !important;
    margin: 0 !important;
  }
  .section-header h2 {
    font-size: 1.2em !important;
    line-height: 1.2em;
    width: 95% !important;
    margin: .5em auto 0em auto !important;
  }
}

@media (max-width: 720px) {
  .section-header h2 {
    font-size: 1.1em;
  }
}


/***************
******NAVBAR****
****************/


.nav-custom{
   background-color: transparent;
}

.navbar{
  border: none !important;
}

.navbar-header{
  background-color: none !important;
}

div#hide-nav.navbar-container{
  border: none !important;
}

.dropdown-menu a:hover{
 color: #333333 !important;
}

.dropdown-menu a{
   color: #333333 !important;
}

.nav-links{
   color: #333333;
   font-size: 22px;
}

a#basic-nav-dropdown.dropdown-toggle:hover{
  text-decoration: none !important;
  color: rgb(86,206,216)!important;
}

a#basic-nav-dropdown.dropdown-toggle{
  margin-right: 15px;
}

.cart-icon {
 font-size: 1.3em;
}

#nav-cart-quant {
 color: rgb(86,206,216);
 font-size: 1.1em;
}

.navbar-default .navbar-toggle .icon-bar{
   background-color: #333333;
}

.navbar-default .navbar-toggle{
   border-color: #333333;
}

button.navbar-toggle{
   background-color: rgb(86,206,216);
}

.nav-links:hover {
  text-decoration: none !important;
  color: rgb(86,206,216)!important;
}

a#basic-nav-dropdown.dropdown-toggle:hover{
  text-decoration: none !important;
  color: rgb(86,206,216)!important;
}

.FAQ{
   color: #333333;
   font-size: 22px;
}

.nav-schedule:hover{
  background-color: rgb(134,206,216);
}

.nav-schedule{
   margin: 15px;
   background-color: #333333;
   color: white;
   font-size: 16px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
   background-color: rgb(134,206,216);
}

nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
   color: #333333 !important;
}

.navbar-default .navbar-nav>.open>a{
   background-color: white !important;
   color: #333333 !important;
}

.dropdown-menu a:hover{
 color: #333333 !important;
}

.dropdown-menu a{
   color: #333333 !important;
}

.nav-brand{
 float: left;
 width: 16%;
 min-width: 230px;
 padding-top: 10px;
}

.navbar-container{
  font-family: 'Open Sans Condensed', sans-serif;
}

ul.nav.navbar-nav{
  float: right;
}

.navbar-header{
  width: 124px !important;
}

@media(max-width: 870px) and (min-width: 768px){
  .nav-brand{
    min-width: 140px;
  }
  .navbar-collapse.collapse{
    padding-right: 0px !important;
  }
}

@media(max-width: 767px){
 .nav-brand{
   min-width: 200px;
 }
}

@media(min-width: 767px){
  .navbar-nav{
    padding-top: 35px;
  }
}

@media (max-width: 985px) and (min-width: 767px) {
   .nav-links{
       padding: 4px;
   }
   .navbar-default .navbar-nav>li>a{
       padding-right: 2px;
       padding-left: 5px;
   }
   #nav-cart-quant {
     margin-left: 5px;
   }
}


@media (max-width: 767px) {
 .nav-links{
   padding-right: 25px;
 }
 .navbar-nav li {
   text-align: right;
   z-index: 1;
 }
 .nav-schedule{
    margin-right: 10px;
}
.navbar .navbar-collapse  {
   text-align: right;
   /*z-index: 1;*/
   background-color: white;
 }
 #nav-cart-quant {
   margin-left: 10px;
   display: block;
   padding-right: 15px;
 }
}

@media(max-width: 766px){
  .navbar-header{
    width: 100% !important;
  }
}


/***************
*****FAQ's******
****************/
.panel-group{
    margin-bottom: 5px !important;
}

.panel-body{
    overflow: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 14px !important;
    letter-spacing: .6px;
}

.xl-panel{
  height: 40vh;
}

.panel-default>.panel-heading{
    background-color: white;
    text-align: center;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Open Sans Condensed', sans-serif;
}

.panel-title{
    font-size: 22px !important;
}

li{
    list-style: none;
}

.accord-contain{
    /*margin-top: 1vh;*/
}

.bullet-pnt{
    list-style-type: circle;
}

.facts{
    margin-bottom: 5px;
}

@media (min-width: 768px) {
  .faq-title{
      font-size: 34px;
  }
  .panel-title{
      font-size: 28px;
  }
  .accord-contain{
      /*margin-top: 100px;*/
  }
  .faq-contact{
    margin-top: 2em;
  }
}

/***************
*****HEADER*****
****************/

.header-container{
  margin-left: 25%;
  margin-right: 25%;
}

@media(max-width: 760px){
  .header-container{
    margin-left: 5%;
    margin-right: 5%;
  }
}

.img-header{
  margin-top: 1vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

@media(min-width:768px){
  .header-img-mobile{
    display: none;
  }
}


@media(max-width:767px){
  .header-img-desktop{
    display: none;
  }
}

.flex-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}

/************************
*****LANDING-SERVICES****
*************************/

.service-container{
  margin-left: 35%;
  margin-right: 35%;
}

/*@media(max-width: 768px) {
  .service-container{
    margin-left: 80px;
    margin-right: 80px;
  }
}*/

.services{
  text-align: center;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-col{
  width: 50%;
}

.service-divider{
  font-size: 30px;
  color:darkgray;
  margin-left: 10px;
  margin-right: 10px;
}

@media(min-width:457px){
  .makeup-mobile{
    display: none;
  }
}

@media(max-width:456px){
  .makeup-desktop{
    display: none
  }
  .service-text{
    font-size: 16px !important;
  }
}

.book-now{
  margin-top: 7vh;
  margin-bottom: 7vh;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
}

.service-text{
  font-family: 'Cedarville Cursive', cursive;
  color:#333333;
  font-size: 24px;
  font-weight: bolder;
  margin-top: 1vh;
}

.service-text:hover {
  color: rgb(86,206,216)!important;
}

.service-col a:hover {
  text-decoration: none !important;
}


/***********************
*****SERVICES-PAGES*****
************************/

.service-scroll-btn{
  bottom: 15% !important;
}

.flex-vert-align{
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.service-page-img{
    height: 30vh;
    background-image: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*LASHES*/
.classic{
    background-position-y: 80%;
}

.volume{
    background-position-y: 30%;
}

.mega{
    background-position-y: 60%;
}

.lift{
    background-position-y: 60%;
}

/*PERM_MAKEUP*/

.perm-makeup-question-link{
  color: #333333 !important;
  text-decoration: underline;
}

.perm-makeup-question-link:hover{
  color: rgb(86,206,216)!important;
}

.ombre{
    background-position-y: 20%;
}

.microstroking{
    background-position-y: 30%;
    background-position-x: 30%;
}

.hairstroke{
    background-position-y: 50%;
}

.eyeliner{
    background-position-x: 50%;
}

.lips{
    height: 50vh !important;
}

.service-title{
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Poiret One', cursive;
}

.gray-line{
    height: 2px;
    background-color: darkgray;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.any-questions{
    font-family: 'Raleway', sans-serif;
    font-size: 14px !important;
    padding: 0 3px;
    margin-bottom: 15px;
}

.contact-link{
  color: #333333 !important;
  text-decoration: underline;
}

.contact-link:hover{
  color: rgb(86,206,216)!important;
}

.contact-link{
    font-weight: bolder;
}

.lip-caption{
    color: white;
    height: 40%;
    margin-left: 10px;
    font-size: 20px;
}

@media(max-width: 768px) {
    .service-para-right{
        margin-top: 15px;
    }
    .service-img-right{
        margin-top: 15px;
    }
    .flex-vert-align{
        display: inline;
    }
    .service-header{
        margin-bottom: 20px;
    }
    .service-para-desktop{
        display: none;
    }
    .service-para-mobile{
        margin-top: 15px;
    }
    .service-header{
      font-size: 34px !important;
    }
}

@media(max-width: 1024px){
    .lips{
        background-position-y: 60%;
    }
}

@media(max-width: 1366px){
    .lips{
        background-position-x: 50%;
    }
}

@media(max-width: 415px){
    .service-header{
        font-size: 44px;
    }
    .any-questions{
        font-size: 12px;
    }
}

@media(min-width: 769px){
    .service-para-mobile{
        display: none;
    }
}


/*FACIALS*/

.facial-treat-makeup{
  margin-left: 10px;
  font-size: 45px;
  font-family: 'Poiret One', cursive;
  text-align: center;
}

.gray-line-mobile{
    height: 2px;
    background-color: darkgray;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2em;
    margin-bottom: 2em;
}

@media(max-width: 768px){
  .desktop-facial{
    display: none;
  }
}

@media(min-width: 769px){
  .mobile-facial{
    display: none;
  }
}

/*WAXING*/

.wax-name{
  font-size: 20px;
  display: inline-block;
}

.wax-price{
  font-size: 18px;
  display: inline-block;
  float: right;
}

.waxing-img{
    height: 40vh;
}

.waxing-line{
  margin-top: 7vh;
}

@media(max-width:768px){
  .waxing-line{
    margin-top: 0px;
  }
}



/***************
*****CONTACT****
****************/

.contact-padding {
  padding-top: 2vh;
  padding-bottom: 5vh;
}

@media (max-width: 767px) {
  .contact-padding {
    padding-top: 0vh;
  }
}

.contact-info{
  /*display: flex;*/
  align-items: center;
  /*justify-content: center;*/
  font-family: 'Raleway', sans-serif;
}

.contact-links, .extra-directions {
  padding: 0 2vw 5px 2vw;
  display: block;
  color: #333;
  /*margin-top: 15px;*/
}

.contact-icons-wrapper {
  margin: auto;
  margin-top: 50px;
}
@media(max-width: 552px) {
  .contact-icons-wrapper {
    margin-top: 30px;
  }
}

.contact-icons{
  color: #333;
  padding: 0 4vw;
}

.map{
    height: 40vh;
    margin-bottom: 15px;
}

.marker{
    color: red;
}

/**********************
*****PRODUCT PAGE******
**********************/

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  margin-bottom: 55px;
  padding: 0 1.2%;
  height: 600px;
  flex: 0 1 30%;
    display: flex;
    flex-direction: column;
}

.product-pic {
  flex: 0 1 auto;
  max-width: 100%;
  justify-content: center;
  height: 200px;
  margin: auto;
  padding-bottom: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.product-info {
  margin-bottom: auto;
}

.product-title {
  font-family: 'Poiret One', cursive;
  font-size: 24px;
  letter-spacing: 1.2px;
  text-align: left;
  height: 47px;
  margin-top: 17px !important;
}

.product-desc  {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  /*font-size: 1.4em;*/
  letter-spacing: 1px;
  text-align: justify;
  height: 250px;
  overflow-y: auto;
  padding-right: 3px;
}

.product-price {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.2px;
  font-weight: bolder;
  font-size: 1.5em;
}

.price-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-added {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  font-style: italic;
  padding: 2px 3.5px  0 0px;
  color: rgb(134,206,216);
}

.add-button {
  margin-top: 7px;
  max-height: 32px;
  padding: 0 7px;
  border: none;
  background: #333333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

@media (max-width: 1025px) {
  .product-list-wrapper h2 {
    width: 85%;
  }
}
@media (max-width: 1120px) {
  .product-card {
    flex: 1 45%;
    padding: 0 2%;
  }
}

@media (max-width: 720px) {
  .product-card {
    flex: 1 90%;
    height: 550px;
  }
  .product-list-wrapper h2 {
    width: 95%;
    font-size: 1.15em;
  }
  .product-title {
    font-size: 1.45em;
  }
  .product-desc {
    height: 200px !important;
  }
}

@media (max-width: 550px) {
  .product-page-component-wrapper {
    margin: 0 3%;
  }
}
@media (max-width: 1412px) and (min-width: 1121px) {
  .product-title {
    height: 65px !important;
  }
}
@media (max-width: 1120px) and (min-width: 854px) {
  .product-title {
    height: 47px !important;
  }
}
@media (max-width: 853px) and (min-width: 721px){
  .product-title {
    height: 65px !important;
  }
}
@media (max-width: 720px) and (min-width: 385px){
  .product-title {
    height: 35px !important;
  }
}
@media (max-width: 384px) {
  .product-title {
    height: 60px !important;
  }
}

/**********************
*****STYLIST PAGE******
**********************/
/*Fonts:
font-family: 'Poiret One', cursive;
font-family: 'Forum', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;*/

.flexbox-stylists {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  margin: 20px 0;
  width: 24%;
  min-width: 250px;
  padding: 15px 15px 0 15px;
  height: 640px;
  color: #333333;
    display: flex;
    flex-direction: column;
    position: relative;
}

.services-gallery {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  align-self: center;
}

.stylist-name {
  margin: 20px  auto 20px auto !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  font-family: 'Poiret One', cursive;
  font-size: 24px;
  letter-spacing: 1.2px;
  text-align: center;
}

.stylist-bio {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  /*max-height: 200px;*/
  /*padding-right: 3px !important;*/
  /*overflow-y: auto;*/
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-align: justify;
  white-space: pre-wrap;
  /*padding-right: 3px;*/
  font-size: 14px;
  line-height: 1.4em;
  height: 220px;
  border: none;
}

.stylist-pic {
  margin: auto;
  padding: 15px 5px !important;
  height: 250px !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stylist-gallery {
  font-family: 'Poiret One', cursive;
  letter-spacing: 1px;
  text-align: center;
}

@media (max-width: 1099px) {
  .flex-item {
    width: 32%;
  }
}

@media (max-width: 1025px) {
  .staff-pitch {
    width: 85% !important
  }
}

@media (max-width: 1056px) {
  .flex-item {
    width: 33%;
  }
}

@media (max-width: 880px) {
  .flex-item {
    height: 625px;
    margin: 10px auto;
    width: 48% !important;
  }
}

@media (max-width: 720px) {
  .staff-pitch {
    width: 95% !important;
  }
}

@media (max-width: 575px) {
  .flex-item {
    height: 625px;
    margin: 10px 2%;
    width: 100% !important;
  }
}


/******************************
************CMS****************
*******************************/
/*Fonts:
font-family: 'Poiret One', cursive;
font-family: 'Forum', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;*/

.cms-component {
  margin: 4% 3%;
  font-family: 'Open Sans Condensed', sans-serif;
}

.header-block-cms {
  text-align: center;
}

.cms-h1 {
  text-transform: uppercase;
  display: inline-block;
  margin: auto;
  padding-right: 8px;
}

.cms-h1 a:link, .cms-h1 a:visited {
  text-decoration: none;
  color: #333333;
}

.cms-h1 a:hover, .cms-h1 a:active {
  color: rgb(86,206,216);
}

.cms-button {
  margin: 10px 10px 40px auto;
  margin-left: auto;
  margin-right: 10px;
  border: none;
  padding: 7px 16px;
  border-radius: 2px;
  background: #333333;
  color: #f2f2f2;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: .09em;
}

.cms-add-button {
  margin-left: 15px;
  border: none;
  padding: 7px 10px;
  border-radius: 2px;
  background: rgb(134,206,216);
  color: #f2f2f2;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4em;
  text-shadow: .5px .5px .5px grey;
  text-transform: uppercase;
  letter-spacing: .09em;
}

#scrollBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(134,206,216); /* Set a background color */
    color: white; /* Text color */
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4em;
    text-shadow: .5px .5px .5px grey;
    text-transform: capitalize;
    letter-spacing: .09em;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 7px 8px;
    border-radius: 2px;
}

#logout-btn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 75px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(134,206,216); /* Set a background color */
    color: white; /* Text color */
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4em;
    text-shadow: .5px .5px .5px grey;
    text-transform: capitalize;
    letter-spacing: .09em;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 7px 14px;
    border-radius: 2px;
}

.admin-logout-button {
  border: none;
  padding: 7px 16px;
  border-radius: 2px;
  background: rgb(134,206,216);
  text-shadow: .5px .5px .5px grey;
  color: #f2f2f2;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: .09em;
  width: 110px;
}

.modal-button {
  float: right;
}

.edit-divider {
  margin: 8% auto 6% auto;
  text-align: center;
}

.line-right {
  height: 2px;
  width: 35%;
  background: #333333;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 5px;
}

.line-left {
  height: 2px;
  width: 35%;
  background: #333333;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 5px;
}

.fa-star {
  color: #333333;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  padding: 0px 20px;
}

.edit-checkbox {
  width: 180px !important;
  display: inline-block;
}

.edit-inputs h4 {
  font-weight: bolder;
  text-transform: uppercase;
}

.cms-edits-list-wrapper h1 {
  padding: 0px 15px 25px 15px;
}

.cms-edits-list-wrapper {
  margin-top: 5%;
}


/******ADD STYLIST AND ADD PRODUCT FORMS*******/
.stylists-form, .products-form {
  font: normal 20px/1.5 'Open Sans Condensed', sans-serif;
  /*background: rgb(88,213,226);*/
  background: rgb(134,206,216);
  color: #fff;
  padding: 25px 10px 25px 0px;
  width: 80%;
  margin: auto;
  border-radius: 2px;
}

.stylists-form input, .stylists-form textarea, .products-form input, .products-form textarea {
  color: #333;
  letter-spacing: .02em;
}

.stylists-form-container, .products-form-container {
  margin: 2.5% 2%;
}

.stylists-form-container h1, .products-form-container h1 {
  margin-left: 10%;
  font-family: 'Open Sans Condensed', sans-serif;
}

@media (max-width: 600px) {
  .stylists-form, .products-form {
    width: 100%;
    padding: 10px 5px;
  }
  .stylists-form-container, .products-form-container {
    margin: 8% 0%;
  }
  .stylists-form-container h1, .products-form-container h1 {
    margin-left: 0%;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  .cms-h1 {
    font-size: 2em;
  }
  .header-block-cms {
    margin: 10px 0 !important;
    padding-bottom: 2em;
    letter-spacing: .01em;
    width: 100%;
  }
  .cms-component {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 325px) {
  .cms-h1 {
    font-size: 1.7em;
  }
}

.flex-outer li, .flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li > label, .flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *, .flex-inner {
  flex: 1 0 220px;
}

.flex-outer li button {
  margin-left: auto;
  padding: 7px 16px;
  border: none;
  background: #333333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-outer, .flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li, .flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  justify-content: space-between;
}

.flex-inner label {
  margin-top: 5px;
  margin-left: 5px;
  text-transform: lowercase !important;
}

.flex-outer > li:not(:last-child) {
  /*margin-bottom: 0px;*/
}

.flex-outer li label, .flex-outer li p {
  font-family: 'Raleway', sans-serif !important;
  padding: 8px;
  font-weight: 300;
  letter-spacing: .08em;
  text-transform: uppercase;
  text-shadow: .1px .1px .1px black;
}

.flex-outer li input, .flex-outer li textarea {
  margin-left: 8px;
}

.flex-inner li {
  width: 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type: "checkbox"]) {
  padding: 15px;
  border: none;
}

.flex-outer li textarea {
  padding: 15px 2px;
  border: none;
}

/***********EDIT STYLIST************/


.stylists-wrapper input, .stylists-wrapper textarea {
  width: 100%;
  padding: 3px 5px;
  margin-bottom: 10px;
}

.stylists-wrapper textarea {
  border: none;
  overflow-y: auto;
}



/*.stylist-name {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.2px;
  text-align: center;
  padding-bottom: 15px;
}

.stylist-bio  {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  text-align: justify;
  padding-bottom: 15px;
}*/

.stylist-services {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

.stylist-gallery {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-align: center;
}




/***********EDIT PRODUCT************/
.products-wrapper input, .products-wrapper textarea {
  width: 100%;
  padding: 3px 5px;
  margin-bottom: 10px;
}

.products-wrapper {
  margin-bottom: 25px;
}

.product-preview {
  height: 475px;
}

.product-preview h2 {
  height: 60px;
  overflow-y: auto;
}

.product-preview textarea {
  border: none;
  padding-right: 3px;
}


/***********EDIT USER QUES************/
.que-containers {
  margin: 3% 2%;
}

@media (max-width: 600px) {
  .que-containers {
    margin: 3% 0;
  }
}

.users-wrapper {
  margin: 10px 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

.users-wrapper h4 {
  font-weight: bolder;
  letter-spacing: .06em;
}

.select-style {
  display: inline-block;
  /*padding: 20px 20px !important;*/
}

.que-containers h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-bottom: 40px;
}

.admin-button {
  margin: 10px 5px 40px 15px;
  border: none;
  padding: 5px 16px;
  border-radius: 2px;
  background: #333333;
  color: #f2f2f2;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: .09em;
}

/***********EDIT LOGIN/SIGNUP PAGE************/
#login-signup {
  margin: 8% auto;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: .07em;
}

.signup-form-wrapper input, .login-form-wrapper input {
  width: 150px;
  padding: 4px 3px;
  margin-left: 4px;
}

.signup-form-wrapper button, .login-form-wrapper button {
  margin: 10px 5px 10px 15px;
  border: none;
  padding: 5px 16px;
  border-radius: 2px;
  background: #333333;
  color: #f2f2f2;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: .09em;
}

.login-wrapper {
  margin: 15px 0;
}

.login-wrapper h4 {
  margin-bottom: 2.1em;
  font-size: 1.7em;
}

/**********************
*****CART PAGE******
**********************/
.cart-list-bottom-wrapper {
  margin: 5% 0%;
}

.cart-width {
  margin:auto;
  width: 80%;
}

@media (max-width: 720px) {
  .cart-list-bottom-wrapper {
    margin: 0% 2%;
  }
}

.cart-list-wrapper th {
  font-family: 'Raleway', cursive;
  font-weight: bolder;
  font-size: 1.2em;
}

.cart-list-wrapper th, .cart-component-wrapper td {
  padding: 5px 8px;
}

.cart-separator-line {
  /*margin: auto;*/
  text-align: center;
  margin: 9px 0;
  width: 100%;
  height: 1.5px;
  border-radius: 5px;
  background-color: rgba(45, 45, 45, 0.45);
}

table {
  width: 100%;
}

.table-img {
  width: 75px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  }
.table-title {
  width: 50%;
  }
.table-price {
  width: 10%;
  }
.table-quant {
  width: 10%;
}
.table-quant input {
  width: 40px;
  padding: 4px 3px;
  text-align: center;
  }
.table-counter {
  width: 30px;
}
.table-subtotal {
  width: 10%;
}
.table-remove-btn {
  border: none;
  background-color: white;
  text-decoration: underline;
  color: rgb(86,206,216);
  width: 10%;
  padding-top: 20px;
}

.cart-total {
  padding-top: 50px;
  text-align: right;
  padding-right: 80px;
  font-size: 1.4em;
}

.checkout button {
  margin-top: 30px;
  text-align: right;
  display: block;
}


/***************
******FOOTER****
****************/

.footer{
    /*background: #333333;*/
    background: rgb(36, 36, 36);
    color: #f2f2f2;
    display: flex;
    width: 100%;
    /*font-size: 12px !important;*/
    padding: 20px 15px;
    height: 8vh;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}

.align-right {
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  min-width: 40%;
}

.align-left {
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  min-width: 60%;
  padding-left: 2vw;
  padding-top: 3px;
}

/*.padding-bottom {
  padding-bottom: 2px;
}*/


.icons{
  font-size: 12px;
    color: #f2f2f2;
    padding-left: 25px;
    padding-right: 2vw;
}

.icon-wrapper{
    padding-top: 9px;
}

.icons:hover {
    color: rgb(86,206,216);
}

.footer-links{
  font-weight: normal !important;
  font-size: 10px;
  color: #f2f2f2;
  font-family: 'Raleway', sans-serif !important;
  letter-spacing: .2em;
}

.footer-copyright {
  color: #f2f2f2;
  font-family: 'Raleway', sans-serif !important;
  /*text-transform: uppercase;*/
  letter-spacing: .2em;
}

.ellora-dev {
  font-family: 'Poiret One', cursive;
  font-variant: small-caps;
  font-size: 1.2em;
  letter-spacing: .3em;
}

.footer-links:hover {
  color: rgb(86,206,216);
  text-decoration: none !important;
}

.footer a:hover {
  text-decoration: none !important;
}

@media(max-width: 767px) {

  .icons{
    font-size: 10px !important;
    padding-left: 3.5vw;
    padding-right: 1vw;
  }
  .align-left {
    padding-left: 1vw;
    padding-top: 0 !important;
  }
}
@media (max-width: 414px) {
  .footer-links, .footer-copyright{
    margin-top: -6px !important;
    padding-top: 0 !important;
    font-size: 9px;
  }
  .icon-wrapper {
    padding-top: 0 !important;
  }
}
@media (max-width: 350px) {
  .icons{
      font-size: 9px !important;
  }
}
