/***************
******BODY******
****************/
html{
    height: 100%;
}

.wrapper{
    height: 100%;
    min-height: calc(100vh - 10vh);
}
/***************
******NAVBAR****
****************/

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none !important;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

li{
    padding: 5px;
}

.dropdown-menu a{
    color: black !important;
}

.navbar-default .navbar-nav>.open>a{
    background-color: #9DE9E7 !important;
    color: black !important;
}

nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    color: black !important;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #9DE9E7;
}

.nav-schedule{
    margin-top: -6px;
    background-color: #9DE9E7;
    color: black;
    font-weight: bolder;
}

.FAQ{
    color: black;
    font-size: 18px;
}

.nav-custom{
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 2;
}

.nav-links{
    color: black;
    font-size: 18px;
    padding: 25px;
}

button.navbar-toggle{
    background-color: #9DE9E7 !important;
}

.navbar-default .navbar-toggle{
    border-color: black;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: black;
}

@media (max-width: 1055px) {
    .nav-links{
        padding: 0;
    }
    .navbar-default .navbar-nav>li>a{
        padding-right: 2px;
    }
}

@media (max-width: 768px) {
  .navbar-nav li {
    text-align: right;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .navbar .navbar-collapse  {
    text-align: right;
    z-index: 1;
    background-color: white;
  }
}

/***************
*****FAQ's******
****************/

.faq-title{
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-family: Bakery;
    font-size: 26px;
    border-bottom: 3px solid darkgray;
    border-top: 3px solid darkgray;
    margin-top: 0;
}

.panel-group{
    margin-bottom: 5px !important;
}

.panel-body{
    overflow: auto;
    height: 45vh;
}

.panel-default>.panel-heading{
    background-color: white;
    text-align: center;
    font-family: SummerFont-Light;
}

.panel-title{
    font-size: 22px;
}

li{
    list-style: none;
}

.accord-contain{
    margin-top: 2vh;
}

.bullet-pnt{
    list-style-type: circle;
}

.facts{
    margin-bottom: 5px;
}

@media (min-width: 768px) {
  .faq-title{
      font-size: 34px;
  }
  .panel-title{
      font-size: 28px;
  }
  .accord-contain{
      margin-top: 100px;
  }
}

/***************
*****HEADER*****
****************/

.header-logo{
    margin-top: -150px;
}

@media(max-width: 770px) {
    .header-logo{
        margin-top: -75px;
    }
}

/****************
*****SERVICES****
*****************/

.service-title{
    color: black;
    border: 5px solid #817C78;
    height: 20vh;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.skew:hover{
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    font-style: italic;
}

.contain{
    margin-bottom: 15px;
}

.services-contain{
    margin-bottom: 15px;
}

.circle {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 0;
  padding: 25% 0;
  border-radius: 50%;
  background: white;
  color: black;
  border: 3px solid black;
  font-family: Helvetica, Arial Black, sans;
  font-size: 14px;
  text-align: center;
  line-height:0;
}

/***************
*****CONTACT****
****************/

.contact-box{
    height: 45vh;
    position: relative;
    margin: 15px 15px 15px 15px;

}

.contact-us{
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    color: black;
}

.map{
    height: 30vh;
}

.marker{
    color:red;
}

/**********************
*****PRODUCT PAGE******
**********************/
.product-pic {
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

/**********************
*****STYLIST PAGE******
**********************/
.stylist-pic {
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.stylist-list-container-wrapper {
  position: relative;
  width: 100%;
}

/**********************
*****CART PAGE******
**********************/
.cart-pic {
  height: 50px;
}

/***************
******FOOTER****
****************/

.footer{
    background-color:#767474;
    text-align: center;
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.icons{
    color: #9DE9E7;
    padding-left: 20px;
    padding-right: 20px;
}

.icons:hover {
    color: black;
}

.footer-links:hover {
    text-decoration: none !important;
    color: black;
}

@media(max-width: 768px) {
    .icons{
        font-size: 8px !important;
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-links{
        font-size: 8px;
        line-height: 0 !important;
    }
    .footer-address{
        line-height: 0;
    }
}

.footer-links{
    color: #9DE9E7;
}
